<html>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" >

<body>
<p style= "color:#1D9EED; text-align:center; padding:20px; font-size:100px">Reunite.AI</p>
<p style= "text-align:center;font-size: 20px;">Let us bring your family home</p>
<br>
<br>
<br>

<div style="    text-align: center;">
	<a href="/checkin1" style="padding: 30px;"><button>Check In Safe</button></a>
	<a href="/findmissing1" style="padding: 30px;"><button>Report Missing </button></a>
</div>
</body>

</html>
<style>
body {
  background-image: url("{{ url_for('static', filename='images/disaster-relief2.jpg') }}");
  background-size: cover;
  background-blend-mode: luminosity;
}
</style>